@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #171717;
}
.text-success {
  color: #09d74b;
}
.bg-brand-black {
  background-color: rgb(17, 17, 17);
}
hr {
  border:1px solid rgba(256,256,256,0.5);
  margin:0 auto;
}
#hero-bg {
  background: url('./../../public/img/bg.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: -1;
}

#hero-text {
  z-index: 0;
}

#wallet_section {
  background: #111111;
}

.btn {
  cursor: pointer;
  height: 100%;
  min-height: 10px;
  max-height: 4rem;
  min-width: 17.5rem;
  padding: 0;
  touch-action: manipulation;
  width: 100%;
  border: 2px solid rgba(252, 0, 0 ,1.0);
  color:rgb(255, 255, 255);
  text-align:center;
  padding:1rem;
  border-radius: 5px;
  margin:0.5rem auto;
  font-weight:400;
  letter-spacing:1.5px;

  transition: background-color .333s ease;
  &:hover {

    background: rgb(252, 0, 0);
  }
  &.btn-primary {
    background: rgb(252, 0, 0);
  }
  &.btn-secondary {
    background:#454444;
    border: none;
    &:hover {

      background: rgb(85 85 85);
    }
  }
}

#footer {
  .copyright {
    color: #595959;
    font-size: 0.75rem;
  }
  .text-xl {
    color:rgb(252, 0, 0);
  }
}

#account_info {
  dt {
    font-weight:bold;
  } 
}
#account_address {
  display:inline;
}