@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #171717;
}
.text-success {
  color: #09d74b;
}
.bg-brand-black {
  background-color: rgb(17, 17, 17);
}
hr {
  border:1px solid rgba(256,256,256,0.5);
  margin:0 auto;
}
#hero-bg {
  background: url('./../../public/img/bg.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: -1;
}

#hero-text {
  z-index: 0;
}

#wallet_section {
  background: #111111;
}

.btn {
  cursor: pointer;
  height: 100%;
  min-height: 10px;
  min-width: 10px;
  padding: 0;
  touch-action: manipulation;
  width: 100%;
  border: 2px solid rgba(252, 0, 0 ,1.0);
  color:rgb(255, 255, 255);
  text-align:center;
  padding:1rem;
  border-radius: 5px;
  margin:0.5rem auto;
  font-weight:400;
  letter-spacing:1.5px;
  &.btn-primary {
    background: rgb(252, 0, 0);
  }
  &.btn-secondary {
    background:grey;
    border: none;
  }
}

footer {
  .copyright {
    color: #595959;
    font-size: 0.75rem;
  }
}